.body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1 fr;
}

/*Nav styles*/
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.left{
    display: flex;
}

.nav-wrapper > .left > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: black;
    text-decoration: none;
    transition: color 0.5s;
    font-family: 'Montserrat', sans-serif;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

.brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color:black;
    border-block: 1px solid black;
}

/*Portfolio*/

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
    font-family: 'Source Code Pro', monospace;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper-img {
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color:transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color:aquamarine;
}

.img-text-wrapper .logo-wrapper img{
    transition: 1s;
    opacity: 0;
}

.img-text-wrapper:hover .logo-wrapper img{
    opacity: 1;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

/*About Page*/
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
}

.two-column-wrapper img {
    width: 70%;
    border-radius: 50px;
    align-items: center;
    background-color: black;
}

.profile-content-wrapper h1 {
    display:flex;
    font-family: 'Source Code Pro', monospace;
    color: aquamarine;
    text-align: left;
}


.profile-content-wrapper p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    
}


